extends ../_base

//- Logs page.
append css
	link(href='/css/shCore.css', rel='stylesheet')
	link(href='/css/shThemeDefault.css', rel='stylesheet')

append head
	title Logs

block body
	h2 Log Viewer
	table.table
		thead
			tr
				th.hidden-xs Time
				th
				th Message
		tbody
			each log in logs()
				tr.interactive
					td.hidden-xs= moment(log.time).calendar()
					td(class='log-level log-level-' + logLevels[log.level].toLowerCase())= logLevels[log.level]
					td= log.msg
				tr.hide.details
					td(colspan=3)
						pre(class="brush:js;gutter:false;smart-tabs:false;toolbar:false;")!= JSON.stringify(log.object, null, 2)

block localJS
	script(src="/js/shCore.js")
	script(src="/js/shBrushJScript.js")
	script.
		jQuery(document).ready(function () {
			// Click for details.
			jQuery('table.table tr').click(function () {
				if (jQuery(this).hasClass('details')) return;
				jQuery(this).next('tr.details').toggleClass('hide');
			});
			// Syntax highlight.
			SyntaxHighlighter.all();
		});