extends ../_base

//- Main page.
append head
	title ferment.at Client

block body
	.row
		.col-md-5(style="text-align:center;")
			img(src="/images/logo_200.png")
			- if (settings)
				h1 Client 
					small running!
			- else
				h1 Client 
					small disabled.
				.alert.alert-danger
					h4 Invalid Settings
					p
						| There is something wrong with your 
						strong ./config/settings.json
						|  file.
				include ../includes/help
		.col-md-7
			h2 Status
			dl.dl-horizontal
				dt Last Cloud Connection
				dd Never connected to the cloud.
				dt Last Controller Connection
				dd Never connected to an automation controller.