extends ../_base

//- Main page.
append head
	title ferment.at Client

block body
	.row
		.col-md-5(style="text-align:center;")
			img(src="/images/logo_200x2.png", width="200", height="200")
			- if (settings)
				h1= settings.clientName || 'Client'
			- else
				h1 Client 
					small disabled.
				.alert.alert-danger
					h4 Invalid Settings
					p
						| There is something wrong with your 
						strong ./config/settings.json
						|  file.
				include ../includes/help
		.col-md-7
			h2 Status
			dl.dl-horizontal
				dt Cloud Connection
				dd Never connected to the cloud.
			dl.dl-horizontal
				- if (controllers.length === 0)
					p No controllers have been initialized.
					include ../includes/help
				- else
					each controller in controllers
						dt= controller.configuration.name
						dd
							span(class="label label-" + controller.status, style="margin-right:7px;")= (controller.status === 'success' ? 'ok' : controller.status).toUpperCase()
							| #{moment(controller.mtime).fromNow()}